* {

    margin: 0 auto;
    padding: 0;
    line-height: normal;
    position: relative;
    font-family: Arial,Helvetica,sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    }

/*--------header----- */
header{ 
   width: 100%;
   height: auto;
   align-items: center;
   background-color: #340461;
}
.container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right {
    width: 34%;
    height: auto;
    color: white;
    font-size: 19px;
}
.top-menu {
    width: 60%;
    font: 22px Arial,sans-serif;
    color: white;
}

.navbar>li{
    padding: 25px 0;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a {
   text-decoration: none;
   color: white;
}
.navbar a:hover {
    color: skyblue;
}
/*--------End header----- */
/*--------Main----- */
.main {
    width: 100%;
    height: auto;
}
.bg-image{
    width: 100%;
    height: 60em; 
    background-position: top;
    background: url(nkar/5.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
/*--------section id="colgroup-0"-------*/

#colgroup-0 {
    width: 100%;
    height: auto;
}
.vernagir {
    width: 60%;
    height: 30%;
    border: 1px solid white;
    background-color: white;
    text-align: center;
}
.vernagir h1 {
    font: normal 56px Arial,sans-serif;
    text-align: center;
    padding: 3%;
    color: black;
}
.vernagir p {  
    font-size: 32px;
    padding-top: 5%;
}
.vernagir h4 {  
    width: 32%;
    height: 28%;
    padding: 12px;
    font-size: 22px;
    border: 2px solid black;
    align-items: center;
}
.vernagir h4:hover {
    background-color:#340461;
    color: white;
}
/*--------section id="colgroup-1"-------*/

#colgroup-1{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 7% 0% 7% 0%;
}
.textcols-item {
    display: table-cell;
    width: 21%;
    vertical-align: top;
    margin: 0 auto;
    font: 20px Snell Roundhand, cursive;
    border: 1px solid black;
    padding: 5%;
}
.textcols-item p {
    font-size: 30px;
    align-items: center;
    padding: 10% 0% 10% 10%;
   }
.textcols-item h2{
    width: 61%;
    height: 24%;
    padding: 22px;
    margin-top: 22%;
    text-align: center;
    font-size: 26px;
    border: 1px solid black;
    background-color:#272866;
    color: white;
   }
.textcols-item h2:hover{
   background-color: white;
   color:#272866;
}

/*---------section id="colgroup-2"--------*/

.about {
    width: 100%;
    height: 100%;
    align-items: center;
    margin: auto;
    padding: 4%;
    background:rgba(255,255,255, 0.6);
}
.about h3{
    font-size: 52px;
    margin: auto;
    text-align: center;
    padding: 6%;
}
.about p{
    width: 67%;
    font: 20px Arial,Helvetica,sans-serif;
    margin: auto;
    text-align: center;
    }
.about h5{
    width: 17%;
    height: auto;
    padding: 20px;
    margin-top: 5%;
    text-align: center;
    font-size: 26px;
    border: 1px solid black;
    color: #272866;
}
.about h5:hover{
   background-color:#272866;
   color:white;
}

/*---------section id="colgroup-3"--------*/

.client{
    width: 100%;
    height: 100%;
    align-items: center;
    margin: auto;
}
.client h6{
    width: 100%;
    font: 72px Monospace;
    margin: auto;
    text-align: center;
    padding-top: 10%;
}
.clients-logo img{
    width: 100%;
    height: 55vh;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
}

/*--------section id="colgroup-4"-------*/
.test {
   width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 8%;
    background-color: #eee;
}
.test h7 {
    width: 100%;
    font: 60px Monospace;
    margin: auto;
}
.STORY{
   width: 100%;
    font: 25px Monospace;
    margin: auto;
    text-align: center;
    padding: 10%;
    padding-left: 25%;
    padding-right: 25%
}
.Profession{
   width: 100%;
    font: 28px Arial,Helvetica,sans-serif;
    margin: auto;
    text-align: center;
    color: #6113aa;
}
.names{
   width: 100%;
    font: 28px Monospace;
    margin: auto;
    text-align: center;
}

/*----section id="colgroup-5"---*/

 h1 {
  padding: 90px;
  color: white;
  font-size: 54px;
  text-align: center;
}
.Contacts {
   width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    margin: 0 auto;
    background-color: #340461;
}
.Contact-1 {
    width:80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.Contact-2 {
   width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.Contact-3 {
   width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.First {
    width: 39.9%;
}
.Last {
    width: 39.9%;
}
.Email {
    width: 39.9%;
    padding: 5% 0;
}
.Subject {
    width: 39.9%;
}
.submit {
    width: 15%;
}
.message {
    width: 65%;
    color: white;
}

input[type='text'], select, textarea {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 1px white;
    display: block; 
    margin: 0 auto;
    background-color: #340461;
    font-size: 20px;
    color: white;
}
#form_button {
    float: left;
    width: 100%;
    background: white;
    border: solid 2px white;
    color: #474544;
    font-size: 2em;
    padding: 10%;
}

#form_button:hover {
  background:#340461;
  color: #F2F3EB;
}
.First p{
    font-size: 26px;
    color: white;
    padding-bottom: 20px; 
}
.Last p{
    font-size: 26px;
    color: white;
    padding-bottom: 20px; 
}
.Email p{
    font-size: 26px;
    color: white;
    padding-bottom: 20px; 
} 
.Subject p{
    font-size: 26px;
    color: white;
    padding-bottom: 20px; 
   
} 
.message p{
    font-size: 26px;
    color: white;
    padding-bottom: 20px; 
    padding-right: 4%;
}
.map {
    padding: 100px 0;
    text-align: center;
    background-color:#340461;
}
.container-1 {
    width: 100%;
   
}
------/*End Section*/-------

#site-footer{
background-color: #340461; 
}
.list-col{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #041d50;
    align-items: center;
}
.col-1 {
    width: 40%;
    height: auto;
    margin-left: 6%;
  }
.col-2 {
   width: 27%;
    height: auto;
}
.col-3 {
    width: 23%;
    height: auto;
   padding: 97px 84px 16px 0px;
}
.site-footer h6{
  color:#fff;
  font-size:28px;
 margin-bottom: 46px;
}
.col-1 p{
    color: white;
    font-size: 23px; 
    padding-bottom: 105px; 
}
.footer-links{
    list-style: none;
    font-size: 21px;
}
.footer-links li{
    display: block;
    margin: 16px;
    font-size: 23px;
}
.footer-links a{
  color: white;
}

.col-3 p{
 color: white;
 font-size: 19px;
 padding: 0px 41px 120px 0px;
}
.social-icons li{
  display:inline-block;
  margin-bottom: 114px;
  font-size: 36px;
}
.social-icons a{
  margin-right:15px;
  color: white;
  font-size:33px;
}
.mobile-menu-icon{
    display: none;
}
@media(max-width:950px) {
nav {
display: none;
}
.mobile-menu-icon{
    display: block;
    width: max-content;
    margin-left: 80%;

}
.vernagir h1 {
    font: normal 35px Arial,sans-serif;
}
.vernagir h4 {  
    width: 30%;
    height: 20%;
    font-size: 12px;
}
.textcols-item {
    font: 15px Snell Roundhand, cursive;
}
.textcols-item p {
    font-size: 20px;
}
.bg-image{
    width: 100%;
    height: 30em; 
    background-position: top;
    background: url(nkar/5.png);
}
.container {
    height: 70px;
}
.right{
    width: 44%;
   font-size: 16px;
}  
    
.about {
    width: 100%;
    height: 100%;
}
.bg-image{
    width: 100%;
    height: 55em; 
}
.about h5 {
    width: 30%;
    }
.textcols-item h2 {
    width: 100%;
    height: 24%;
}
.mobile-menu-1{
    margin-left: 80%;
    font-size: 20px;
    border: 2px solid black;
    background-color: #340461;
}
.mobile-menu-1 a{
  border: 2px solid black;
  display: block;
  color: white;  
}
 .mobile-menu-1 a:hover{
    color: blue;
}
